@import './base.css';


header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav {
    width: 100%;
    padding: 15px 0;
    background-color: aqua;
    background: linear-gradient(to bottom, #000000, #000000e5, #000000a8, #00000000);
    display: flex;
    align-items: center;
    justify-content: start;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display: inline;
    font-size: 20px;
    margin-left: 15px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
        color: #000000;
        background-color: #ffffff;
    }
}

nav p {
    font-size: 20px;
    margin-left: 20px;
}

nav img {
    margin-right: 5px;
    margin-left: 20px;
}

nav h2 {
    font-size: 30px;
    font-weight: 500;
}

main {
    width: 100%;
}
